commands/__pycache__/**
commands/owner/__pycache__/**
events/__pycache__/**
utils/__pycache__/**
tasks/__pycache__/**
.idea/.gitignore
.idea/**
.idea/**
runtime.txt
Procfile
config.ini
tasks/botlists.py
